.signup{
    background-image: url("./img/smeta1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
}
.form-label {
    font-size: 15px;
    font-weight: bold;
}
.col-md{
    padding: 0;
}
.row{
    --bs-gutter-x: 0.rem;
}
.meta{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    text-transform: uppercase;
    text-align: center;
}
.meta-desc{
    color: #90d7c2;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    margin-right: 10px;
}

.form-check {
    background-color: #b2a5a52e;
    border-radius: 5px;
    color: black;
    font-size: 15px;
    font-weight: bold;
}
.form-check-label {
    margin-left: 10px;
}
.card-signin {
    
    color: white;
    height: 83vh;
    border: 1px solid #fff;
    position: relative;
    top: 10px;
    margin: auto;
    box-shadow: 1px 3px 4px 5px #7075ab;
}
.form-signin {
    position: relative;
    top: 40px;
    padding: 15px;
    margin-left: 20px;
    width: 350px;
    background-color: #2e1a1a3b;
    color: white;
    border-radius: 20px;
    box-shadow: 1px 3px 4px 5px #7075ab;
}
.signin-header {
    text-align: center;
    margin-bottom: 5px;
}
.signin-img img {
    margin-top: -60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#img-signin {
    text-align: center;
}
#logbtn{
    margin-left: 10px;
}
